@page "/info/about-us"

<MudContainer MaxWidth=MaxWidth.Medium>
    <MudText Style="font-size: 32px; font-weight: 600; line-height: 40px; margin-bottom: 32px;">О нас</MudText>
    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Кто мы?</MudText>
    <p style="margin-top:16px; font-size:16px;">«Книжная Лавка» – это независимый книжный интернет-магазин. Наш магазин поялвился в 2022 году и с тех пор мы продали очень много классных книжек для таких же классных покупателей. ( ꈍᴗꈍ)</p>
    <p style="margin-top:16px; font-size:16px;">Мы не просто продаём книги, а разделяем любовь наших покупателей к чтению. Нам знакомо чувство, когда хорошие романы заканчиваются слишком быстро, времени в дороге не хватает, чтобы дочитать главу, а героиня никак не может найти свою любовь. Мы знаем, как быстро летит время в компании с новинкой любимого автора и как сильно хочется растянуть это удовольствие.</p>
    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Кто делает этот интернет-магазин?</MudText>
    <p style="margin-top:16px; font-size:16px;">Книжную лавку делает всего один программист - студент группы 434К Воробьёв Эмиль.</p>
</MudContainer>