@page "/info/safety"

<MudContainer MaxWidth=MaxWidth.Medium>
    <MudText Style="font-size: 32px; font-weight: 600; line-height: 40px; margin-bottom: 32px;">Мошенничество в интернете</MudText>
    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Фишинг</MudText>
    <p style="margin-top:16px; font-size:16px;">Фишинг — вид интернет-мошенничества, целью которого является получение доступа к конфиденциальным данным пользователей: логинам и паролям.</p>
    <p style="margin-top:16px; font-size:16px;">Обратите внимание, Книжная лавка не рассылает сообщения на мессенджеры Viber или WhatsApp.</p>

    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Как распознать фишинг</MudText>

    <ul class="list-group">
        <li class="list-group-item"><p style="margin-top:16px; font-size:16px;">Страница не имеет защищённого соединения. Отсутствует префикс «https://», который показывает, что соединение защищено.</p></li>
        <li class="list-group-item"><p style="margin-top:16px; font-size:16px;">Некоторые ссылки не работают.</p></li>
        <li class="list-group-item"><p style="margin-top:16px; font-size:16px;">На странице просят ввести ваши конфиденциальные данные в любом нестандартном месте.</p></li>
    </ul>

    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Классическая схема мошенничества</MudText>
    <MudText Style="font-weight:500; font-size:16px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Фишинговый сайт</MudText>
    <p style="margin-top:16px; font-size:16px;">Злоумышленник на различных ресурсах: от социальных сетей и электронной почты до обычных новостных сайтов — заставляет вас нажать на ссылку, ведущую на фишинговый сайт. Такие сайты копируют дизайн и содержание известного сайта.</p>
    <MudText Style="font-weight:500; font-size:16px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Конфиденциальные данные</MudText>
    <p style="margin-top:16px; font-size:16px;">На поддельном сайте могут попросить ввести идентификаторы и пароли, мобильный телефон и другие конфиденциальные данные.</p>

    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Схема мошенничества с помощью мобильного телефона</MudText>
    <p style="margin-top:16px; font-size:16px;">Вредоносное программное обеспечение (вирус) заражает мобильное устройство.</p>
    <p style="margin-top:16px; font-size:16px;">Сайт-ловушка. При попытке открыть с мобильного устройства сайт организации вирус перенаправляет вас на специальный сайт-ловушку, имитирующий сайт Книжная лавка или сайты других проектов Книжной лавки.</p>
    <p style="margin-top:16px; font-size:16px;">На поддельном сайте могут предложить ввести логин и пароль от личного кабинета, пройти социальный опрос, скачать антивирус или новое приложение, где различными способами попытаются узнать вашу конфиденциальную информацию.</p>
    <p style="margin-top:16px; font-size:16px;">При получении писем или сообщений старайтесь обращать внимание на имя отправителя, ссылки на веб-ресурсы, призывы срочно ответить на письмо или открыть файл. При подозрении на мошенничество не переходите по ссылкам и не передавайте конфиденциальные данные. Для проверки акции или письма обратитесь в службу поддержки, где подтвердят или опровергнут полученное вами сообщение.</p>

    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Поддельные сайты</MudText>
    <p style="margin-top:16px; font-size:16px;">Поддельные сайты — это сайты, которые внешне копируют какой-то популярный сайт, например Книжная лавка. Цель таких сайтов — заставить вас ввести пароль.</p>
    <p style="margin-top:16px; font-size:16px;">Не переходите по ссылкам, которые были отправлены вам незнакомыми людьми. Чтобы распознать поддельный сайт, посмотрите на его адрес в строке браузера — он будет отличаться от официального.</p>

    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Что делать, если попал на поддельный сайт</MudText>
    <p style="margin-top:16px; font-size:16px;">Если вы попали на поддельный сайт, не вводите там никакие личные данные. Ссылки на сайты, которые выдают себя за сайт Книжная лавка, отправьте нам в чат.</p>

    <MudText Style="font-weight:500; font-size:20px; line-height: 28px; padding-top: 24px;  margin-bottom: 8px;">Телефонное мошенничество</MudText>
    <p style="margin-top:16px; font-size:16px;">Телефонное мошенничество — способ кражи личных данных через звонки или СМС. Например, это звонки от злоумышленников от имени банка с просьбой предоставить номер карты. Цель такого мошенничества — списать деньги с вашей карты или заставить вас ввести пароль и данные карты.</p>
    <p style="margin-top:16px; font-size:16px;">Не предоставляйте данные карты: номер, ПИН-код, номер CVV — незнакомым людям. Сотрудники банка не просят данные карты.</p>
</MudContainer>