@page
@model Bookstore.Server.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="container" style="padding-top:20vh;">
    <div class="row">
        <div class="col-md-6  d-none d-md-block">
            <div>
                <img src="~/login logo.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div>
                <form class="form-signin" id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h1 class="h3 mb-3 font-weight-normal text-center">Вход</h1>
                    <div>
                        <label asp-for="Input.Email" class="sr-only">Адрес эл. почты</label>
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Адрес эл. почты" required="" autofocus="">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Input.Password" class="sr-only">Пароль</label>
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Пароль" required="">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
