@page
@model Bookstore.Server.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <div>
                <img src="~/login logo.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h1 class="h3 mb-2 font-weight-normal text-center">Регистрация</h1>
                    <div class=mt-1>
                        <label asp-for="Input.FirstName" class="sr-only">Имя</label>
                        <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="Имя" required="" autofocus="">
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.SecondName" class="sr-only">Фамилия</label>
                        <input asp-for="Input.SecondName" type="text" class="form-control" placeholder="Фамилия" required="" autofocus="">
                        <span asp-validation-for="Input.SecondName" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.ThirdName" class="sr-only">Отчество</label>
                        <input asp-for="Input.ThirdName" type="text" class="form-control" placeholder="Отчество" autofocus="">
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.Sex" class="sr-only">Пол</label>
                        <select asp-for="Input.Sex" class="form-control">
                            <option selected="selected" value="Мужской">Мужской</option>
                            <option value="Женский">Женский</option>
                        </select>
                        <span asp-validation-for="Input.Sex" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.BirthDate" class="sr-only">Дата рождения</label>
                        <input asp-for="Input.BirthDate" type="date" class="form-control" placeholder="Дата рождения" required="" autofocus="">
                        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.Login" class="sr-only">Логин</label>
                        <input asp-for="Input.Login" type="text" class="form-control" placeholder="Логин" required="" autofocus="">
                        <span asp-validation-for="Input.Login" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.Email" class="sr-only">Адрес эл. почты</label>
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Адрес эл. почты" required="" autofocus="">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.Password" class="sr-only">Пароль</label>
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Пароль" required="">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class=mt-1>
                        <label asp-for="Input.ConfirmPassword" class="sr-only">Повторите пароль</label>
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Повторите пароль" required="">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
