.product-card__image-holder {
    margin-bottom: 16px;
    position: relative;
}

.smartLink {
    text-decoration: none;
}

.product-card__image-link, .product-card__picture {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.product-card__image-link {
    justify-content: center;
    max-width: 100%;
}

.product-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.product-card-price {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
}

.product-card__name {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    margin: 0;
    max-height: 48px;
    text-decoration: none;
    color: #242424;
    transition: color .3s;
}